.combox{
    display: flex;
    justify-content: right ;
    padding-bottom: 15px;
}
.main {
    background-color: #f5f5f5; /* Light gray background */
    padding: 20px;
}
.marque{
    color: rgb(54, 1, 1);
    font-size: small;
}
/* Weather Api */
.card {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    border: 1px solid #3f3b3b;
    border-radius: 4px;
    padding: 30px;
    background-color: rgba(23, 37, 42, 0.85);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.01);
}

.card-content {
    border: 1px solid #332d2d;
    border-radius: 4px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 60px;
    padding-right: 60px;
    background-color: #fff;

}

.degree {
    font-size: x-large;
}

.location {
    color: brown;
    font-size: large;
}

/* Show all Agriculture Data */
.data-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.data-item {
    color: white;
    background-color: rgba(23, 37, 42, 0.85);
    width: 200px;
    height: 200px;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    box-shadow: 5px 5px rgb(168, 171, 173);
    font-family: 'Times New Roman';
    font-weight: bold;
}

.data-item:hover {
    background-color: #1e1c1c;
    transform: calc(1.1);
}

 
.heading{
    font-size: 30px;
    color: #2c3e50; /* Dark blue color */
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}
.main-description{    
    font-size: 18px;
    color: #34495e; /* Dark gray color */
    line-height: 1.5;
    text-align: center;
}
